@import 'variables';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: $branding-color;
  color: #FFF;
  padding: 0 1.5em 0 1.5em;
  position: fixed;
  top: 0px;

  span {
    font-family: $deco-font;
    font-size: 40px;
  }

  .nav-right {
    button {
      all: unset;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: .4em;
      width: 100%;

      p {
        margin: 0;
      }

      i {
        color: $error-color;
        display: flex;
        justify-content: center;
      }

    }

    button:hover {
      i {
        color: #FFF;
      }
    }

  }

}